<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Гороскоп
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label>Выберите знак зодиака</ion-label>
      <ion-select placeholder="" (ionChange)="changeZodiac($event)">
        <ion-select-option *ngFor="let item of data" value="{{item.name}}">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="description">
      {{ description }}
    </div>
  </div>
</ion-content>
